body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: #1a1a1a;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #333;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.category-grid, .brand-grid, .device-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.review-box {
    width: 100%;
    height: 60px;      
    padding: 8px;
    resize: none;      
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

button {
    background: #1a1a1a;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    margin-top: 100=px;
}
button:hover {
    background: #444;
}
footer {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.footer-container p {
    margin: 5px 0;
    font-size: 14px;
}
form {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
